<h1 style="color: #333; font-size: 19px; font-weight: bold;">
  Olá, {{ studentName }}
</h1>

<p>
  Bem vindo à Academia GymPoint!
</p>

<p>
  A sua matrícula foi realizada com sucesso. Será um prazer tê-lo connosco!
</p>

<p>
  <strong style="color: #7159c1;">
    Início da atividade: {{ startDate }}
  </strong> <br />
  <strong style="color: #7159c1;">
    Término da atividade: {{ endDate }}
  </strong>
</p>

<p>
  <strong>Plano: </strong> {{ planTitle }}<br />
  Duração: {{ planDuration }} meses, <br />
  Preço Mensal do Plano: {{ planPrice }},
</p>

<p>
  O custo total do seu Plano é de: {{ price }}
</p>
